<!DOCTYPE html>
<html>
	<head>
		<!-- meta -->
  		<meta charset="utf-8">
  		
		<title> Kassandra's Blog </title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<style>	

			body
			{
				background: #D3CCE3;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				/*background: #d9a7c7;  
				background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
				background: linear-gradient(to right, #fffcdc, #d9a7c7); */


				/*ESTO ES LO NUEVO*/
				color: #898989;
				font-family: 'Poppins', helvetica;
				font-size: 15px;
				font-weight: 300;
				line-height: 20px;
				letter-spacing: 0.02em;
				overflow-x: hidden;
				margin: 0 auto;
				padding: 0;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}

			.fa {
			  padding: 10px;
			  font-size: 30px;
			  width: 50px;
			  text-align: center;
			  text-decoration: none;
			  color: black;
			}

			/* Add a hover effect if you want */
			.fa:hover {
			  opacity: 0.7;
			}

			.casa{
				  color: #292929;
				  text-decoration: none !important;
				  -moz-transition: all 0.5s ease-in-out 0s;
				  -ms-transition: all 0.5s ease-in-out 0s;
				  -o-transition: all 0.5s ease-in-out 0s;
				  -webkit-transition: all 0.5s ease-in-out 0s;
				  transition: all 0.5s ease-in-out 0s;
			  }


			.casa:hover
			{
			  -moz-transition: all 0.5s ease-in-out 0s;
			  -ms-transition: all 0.5s ease-in-out 0s;
			  -o-transition: all 0.5s ease-in-out 0s;
			  -webkit-transition: all 0.5s ease-in-out 0s;
			  transition: all 0.5s ease-in-out 0s;
			}

			.casa:hover, .casa:focus 
			{
				color: #b8a07e;
				text-decoration: underline;
			}

			p {
				  margin: 25px 0;
				  padding: 0;
				  font-size: 15px;
				  color: #999999;
				  line-height: 28px;
				}

				::-moz-selection {
				  background: #b8a07e;
				  color: #fff;
				}

				::selection {
				  background: #b8a07e;
				  color: #fff;
				}

			#about {
			  width: 100%;
			  height: auto;
			  background: #f7f7f7;
			  padding-top: 190px;
			}

			#about .div-img-bg {
			  padding-bottom: 30px;
			  border: 20px solid #b8a07e;
			}

			#about .div-img-bg .about-img img {
			  width: 100%;
			  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
			  margin-top: -60px;
			  margin-left: 40px;
			  height: 400px;
			  object-fit: cover;
			}

			#about .about-descr .p-heading {
			  font-family: 'Playfair Display', serif;
			  font-size: 28px;
			  text-align: left;
			}

			#about .about-descr .separator {
			  max-width: 80%;
			  margin-bottom: 0;
			  text-align: left;
			}


			.titleread{
					margin-top: 30px;
					margin-bottom: 20px;
					text-align: center; 
					font-style: italic; 
					font-weight:bold; 
					font-size: 30px; 
					color: #E88B8B; 
					text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68; 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
					}

			.contenedor
			{
				width: 100%;
	          	margin-left: 250px;
	          	max-width: 1100px;
			}

			.potedby
			{
				text-align: center;
				font-style: italic;
				color: #722D2D;
			}

			.readmore
			{
				margin-top: -10px;
				margin-left: 280px;
				white-space: pre-line;
				font-style: italic;
				text-align: justify;
				font-size: 16px;
				color: black;
				font-family: italic;
				width: 1000px;
			}

			div.b {
			  white-space: nowrap;
			  margin-top: 15px; 
			  width: 1000px;
			  height: 45px;
			  overflow: hidden;
			  text-overflow: ellipsis; 
			  
			}

		</style>

  	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a href="/" class="navbar-brand"> Home </a>
				<a href="/posts/1" class="navbar-brand"> Escritos</a>
				<a href="/recom" class="navbar-brand"> Recomendaciones </a>
				<a href="/contactme" class="navbar-brand"> Contact me</a>
			</div>
		</nav>		

		<h3 class="titleread"> <%= postread.title %> </h3>

		<div class="potedby"> by: <%= postread.autor %> </div>

		<p class="readmore">
			
					<%= postread.description %>	
			<div class="contenedor">
				
				<div class="card-footer d-flex justify-content-between align-items-center">
					<!--<button class="btn btn-success" id="btn-like" data-id="{{postread.title}}">
				      <i style="font-size:20px" class="fa">&#xf087;</i> Like
				    </button>-->

				    <a class="likeicon" href="/readmore/<%= postread._id %>/likes" onclink="updateLikes()">
					   <i style="font-size:20px" class="fa">&#xf087;</i> Like
					</a>

				    <!--<a href="/readmore/{{._id}}/likes" class="btn btn-success" id="btn-like" data-id="{{postread.title}}"> <i style="font-size:20px" class="fa">&#xf087;</i> Like </a>-->

				    <p>
				    	<span class="likes-count"><%= postread.likes %></span>
				        <i class="fa fa-heart" style="font-size:20px;color:red"></i>
				    </p>
				    <p>
				    	<span> <%= postread.views %></span>
				      <i style="font-size:20px" class="fa">&#xf06e;</i>
				    </p>
				    <p>
				    	<span><%=moment(postread.timestamp).format('MMMM Do YYYY, h:mm:ss a'); %></span>
				      <i style="font-size:24px" class="fa">&#xf017;</i>
				    </p>
				</div>
			</div>
		</p>

		<br>

				<!-- COMMENTS -->
	<div class="contenedor">
		<div class="card mt-2">
		  <div class="card-header d-flex justify-content-between align-items-center">
		    <h4>Comments</h4>
		    <button class="btn btn-info" id="btn-toggle-comment">
		      <i class="fa fa-comments-o"></i> Post a Comment
		    </button>
		  </div>
			<div class="card-body">
		    	<blockquote id="post-comment">
		      		<form action="/readmore/<%= postread._id %>/comment" method="POST">
			        	<div class="form-group">
			          		<input type="text" class="form-control" name="name" placeholder="Name">
			        	</div>
				        <div class="form-group">
				          <textarea name="comment" class="form-control" rows="2" placeholder="Your Comment"></textarea>
				        </div>
				        <div class="form-group">
		          			<button class="btn btn-info" id="btn-comment">
		            			<i class="fa fa-comment"></i> Post
		          			</button>
		        		</div>
	      			</form>      
	    		</blockquote>
	    		<ul class="list-group p-4">
	    			<% for(var i=0; i < comments.length; i++) { %>
	    				<li class="list-group-item">
	    					<div class="row">	
	    						<div class="col">
	    							<img src="http://gravatar.com/avatar/<%= comments.gravatar%>?d=identicon&s=45">
	    							<%= comments[i].name%>: <%= comments[i].comment%>
	    						</div>
	    						<footer>
	    							<%=moment(comments[i].timestamp).format('MMMM Do YYYY, h:mm:ss a'); %>
	    						</footer>
	    					</div>
	    				</li>
	    			<% } %>
	    		</ul>
	    	</div>	    		
		</div>
	</div>

		<script
		  src="https://code.jquery.com/jquery-3.5.1.js"
		  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		  crossorigin="anonymous">
		  	
  			$('#btn-like').click(function(e) 
		  	{
			    e.preventDefault();
			    let postId = $(this).data('id');
			    $.post('/readmore/' + postId)
			      .done(data => {
			        $('.likes-count').text(data.likes);
			      });
			});
	  	</script>

	</body>
</html>
